<%= simple_form_for [@ficha,@info,@ensamble], :html => { :class => 'form-group' } do |f| %>
<div class="form-group">
  <%= f.label :Operacion %>  <br>
  <%= f.collection_select :operation_id, Operation.all, :id, :nombre, class: "form-control", prompt: "Seleccione Operacion" %>
</div>
<div class="form-group">
  <%= f.label :Sam %>
  <%= f.text_field :sam, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :Maquina%>
  <%= f.text_field :maquina, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :Nombre_Calibre_aguja%>
  <%= f.text_field :calibre_aguja, class: "form-control", placeholder: "Ingrese el calibre de aguja" %>
</div>
<div class="form-group">
  <%= f.label :PPP%>
  <%= f.text_field :ppp, class: "form-control",  placeholder: "Ingrese el PPP" %>
</div>
<div class="form-group">
  <%= f.label :Margen_Costura%>
  <%= f.text_field :margen_costura, class: "form-control", placeholder: "Ingrese la mergen de costura" %>
</div>
<div class="form-group">
  <%= f.label :Guia_Accesorios%>
  <%= f.text_field :guia_accesorios, class: "form-control", placeholder: "Ingrese la guia y accesorios" %>
</div>
<div class="form-group">
  <%= f.label :Observaciones %>
  <%= f.text_field :observaciones, class: "form-control", placeholder: "Ingrese las observaciones" %>
</div>

<div class="form-group">
  <%= f.label :Operaria %> <br>
  <%= f.collection_select :oper_id, Oper.all, :id, :nombre, class: "form-control", prompt: "Seleccione Operario" %>
</div>

  <%= f.button :submit, 'Crear ensamble', :class => 'btn-primary' %>
  <%= link_to 'Cancelar', info_developments_path(@info), :class => 'btn btn-default' %>
<% end %>
