<%- model_class = Ensamble -%>
<div class="well">
  <h1><center>Ensamble</center></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:operation_id) %>:</strong></dt>
  <dd><%= @ensamble.operation_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:samp) %>:</strong></dt>
  <dd><%= @ensamble.sam %></dd>
  <dt><strong><%= model_class.human_attribute_name(:maquina) %>:</strong></dt>
  <dd><%= @ensamble.maquina %></dd>
  <dt><strong><%= model_class.human_attribute_name(:calibre_aguja) %>:</strong></dt>
  <dd><%= @ensamble.calibre_aguja %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ppp) %>:</strong></dt>
  <dd><%= @ensamble.ppp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:margen_costura) %>:</strong></dt>
  <dd><%= @ensamble.margen_costura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guia_accesorios) %>:</strong></dt>
  <dd><%= @ensamble.guia_accesorios %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observaciones) %>:</strong></dt>
  <dd><%= @ensamble.observaciones %></dd>
</dl>

<%= link_to 'Atras', '/infos/1/developments', :class => 'btn btn-default' %>

