<%= simple_form_for @tipo_doc, :html => { :class => 'form-horizontal' } do |f| %>
<div clas="form-group">
  <%= f.label :nombre %>
  <%= f.text_field :nombre, class: "form-control",  placeholder: "Escriba nombre" %>
  </div>
  <div clas="form-group">
  <%= f.label :descripcion %>
  <%= f.text_area :descripcion, class: "form-control",  placeholder: "Escriba descripcion" %>
  </div>

  <%= f.button :submit, 'Crear T.Documento', :class => 'btn-primary' %>
  <%= link_to 'Cancelar', 
                tipo_docs_path, :class => 'btn btn-default' %>
<% end %>
