<%- model_class = TipoDoc -%>
<div class="well">
  <div id="anim">
   <h1><center>Tipo <small>Documento</small></center></h1>
  </div> 
</div>
<div class="alert alert-dismissable alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>En esta página del sistema podra visualizar y administrar todos y cada uno los tipos de documentos.</p>
</div>
<br>
<div class="page-header">
  <%= link_to 'Nuevo', new_tipo_doc_path, :class => 'btn btn-success btn-lg active' %>
</div><br>
<br>
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:Acciones) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tipo_docs.each do |tipo_doc| %>
      <tr>
        <td><%= tipo_doc.nombre %></td>
        <td><%= tipo_doc.descripcion %></td>
        <td>
          <div id="wrap">
            <ul id="navbar">
              <li>
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                ︾</a>
            <ul>
                <li> <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_tipo_doc_path(tipo_doc) %></li>
                <li> <%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, tipo_doc_path(tipo_doc), method: :delete, data: { confirm: 'Estas segur@?' } %></li>
              </ul>
              </li>
              </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

