<%= simple_form_for [@ficha,@info,@treatment], :html => { :class => 'form-horizontal' } do |f| %>
<div class="form-group">  
  <%= f.label :Proceso %>
  <%= f.text_field :proceso, class: "form-control",  placeholder: "Escriba el proceso" %>
</div>
<div class="form-group">
  <%= f.label :Descripcion %>
  <%= f.text_field :descripcion, class: "form-control",  placeholder: "Escriba una descripcion" %>
</div>
<div class="form-group">
  <%= f.label :Ubicacion %>
  <%= f.text_field :ubicacion, class: "form-control",  placeholder: "Escriba la ubicacion" %>
</div>
<div class="form-group">
  <%= f.label :Proveedor %>
  <%= f.text_field :proveedor, class: "form-control",  placeholder: "Escriba el proveedor" %>
</div>
<div class="form-group">
  <%= f.label :Precio %>
  <%= f.text_field :precio, class: "form-control",  placeholder: "Escriba el precio" %>
</div>

  <%= f.button :submit,'Crear nuevo proceso', :class => 'btn-primary' %>
  <%= link_to 'Cancelar',
                info_treatments_path(@info), :class => 'btn btn-default ' %>
<% end %>
