<%- model_class = Treatment -%>
<div class="well">
  <div id="anim">
   <h1><center>Procesos de <small>Prenda</small></center></h1>
  </div> 
</div>
<br>
<% if current_user.rol.id == 1 %>
  <div class="page-header">
    <%= link_to 'Nuevo',
              new_info_treatment_path(@info),
              :class => 'btn btn-success btn-lg active' %>
  </div><br>
<% end %>  
<br>
<!-- buscador -->
<div class="tbusca"> 
   <%= form_tag info_treatments_path(@info), :method => 'get' do %>
     <% content_tag :label do %>
        <div class="form-group">
          Buscador:
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Buscar", class: "btn btn-default"%>
        </div> 
     <% end %>
  <% end %>
  </div>
  <br>
  <br>
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:proceso) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:ubicacion) %></th>
      <th><%= model_class.human_attribute_name(:proveedor) %></th>
      <th><%= model_class.human_attribute_name(:precio) %></th>
      <% if current_user.rol.id == 1 %>
       <th><%= model_class.human_attribute_name(:opciones)%></th>
      <% end %> 
    </tr>
  </thead>
  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= treatment.proceso %></td>
        <td><%= treatment.descripcion %></td>
        <td><%= treatment.ubicacion %></td>
        <td><%= treatment.proveedor %></td>
        <td><%= treatment.precio %></td>
      <% if current_user.rol.id == 1 %>  
        <td><center>
         <div id="wrap">
            <ul id="navbar">
              <li>
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                ︾</a>
            <ul>
                <li> <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_info_treatment_path(@info,treatment) %></li>
                <li> <%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, info_treatment_path(@info,treatment), method: :delete, data: { confirm: 'Estas segur@?' } %></li>
              </ul>
              </li>
              </ul>
          </div>
        </center></td>
      <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

 <!-- Paginacion -->
<nav>
  <ul class="pager">
    <%= will_paginate @treatments, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
  </ul>
</nav>
<br>
<h4><span class="label label-warning gran">Procesos Registrados: <%= @treatments.count %></span></h4>



