<%= simple_form_for [@ficha,@info,@termination], :html => { :class => 'form-group' } do |f| %>
<% if @termination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@termination.errors.count, "error") %> campos obligatorios:</h2>

      <ul>
      <% @termination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
  <%= f.label :Operacion %>  <br>
  <%= f.collection_select :operation_id, Operation.all, :id, :nombre, class: "form-control", prompt: "Seleccione Operacion" %>
<% if current_user.rol.id == 2 %>  
  <div class="field">
    <%= f.label :Operaria %> <br>
    <%= f.collection_select :oper_id, Oper.all, :id, :nombre, class: "form-control", prompt: "Seleccione Operario" %>
  </div>
<% end %>
</div>
<div class="form-group">
  <%= f.label :Sam %>
  <%= f.text_field :sam, class: "form-control",  prompt: "Escriba sam", :id => "sam" %>
</div>
<div class="form-group">
  <%= f.label :Maquina%>
  <%= f.text_field :maquina, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :Nombre_Calibre_aguja%>
  <%= f.text_field :calibre_aguja, class: "form-control", placeholder: "Ingrese el calibre de aguja" %>
</div>
<div class="form-group">
  <%= f.label :PPP%>
  <%= f.text_field :ppp, class: "form-control", placeholder: "Ingrese el PPP" %>
</div>
<div class="form-group">
  <%= f.label :Margen_Costura%>
  <%= f.text_field :margen_costura, class: "form-control", placeholder: "Ingrese la mergen de costura" %>
</div>
<div class="form-group">
  <%= f.label :Guia_Accesorios%>
  <%= f.text_field :guia_accesorios, class: "form-control", placeholder: "Ingrese la guia y accesorios" %>
</div>
<div class="form-group">
  <%= f.label :Observaciones %>
  <%= f.text_field :observaciones, class: "form-control", placeholder: "Ingrese las observaciones" %>
</div>
<% if current_user.rol.id == 2 %>
  <h1>Nivelacion Operaria</h1>
  <div class="form-group">
    <%= f.label :tiempo_real %>
    <%= f.text_field :tiempo_real, class: "form-control", placeholder: "Ingrese el tiempo real", :id => "t" , :onblur => 'ope()' %>
  </div> 
  
  <script>
      function ope(){
        var sam = document.getElementById('sam').value;
        var ti = document.getElementById('t').value;
        des = (parseInt(sam) / parseInt(ti)*100  );
        des = des.toFixed();
        
        if(des >= 100){
          document.getElementById('dese').value = 100+"%";
        }else{
          document.getElementById('dese').value = des+"%";
        }
        
        
      }  
  </script>
  <div class="form-group">
    <%= f.label :desempeño %>
    <%= f.text_field :desempeño, class: "form-control", :id => "dese" %>
  </div>  
  
  <div class="form-group">
    <%= f.label :comentario %>
    <%= f.text_area :comentario, class: "form-control", placeholder: "Ingrese comentario" %>
  </div>  
<% end %>


  <%= f.button :submit, 'Crear terminación', :class => 'btn-primary' %>
  <%= link_to 'Cancelar', info_developments_path(@info), :class => 'btn btn-default' %>
<% end %>
