<%- model_class = Termination -%>
<div class="well">
    <h1><center> Terminación </center></h1>
</div>
    <div class="well">
        <%= link_to 'Nuevo',
        new_info_termination_path(@info),
            :class => 'btn btn-success' %>
</div>
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:operación) %></th>
      <th><%= model_class.human_attribute_name(:sam) %></th>
      <th><%= model_class.human_attribute_name(:maquina) %></th>
      <th><%= model_class.human_attribute_name(:nombre_calibre_aguja) %></th>
      <th><%= model_class.human_attribute_name(:ppp) %></th>
      <th><%= model_class.human_attribute_name(:margen_costura) %></th>
      <th><%= model_class.human_attribute_name(:guia_accesorios) %></th>
      <th><%= model_class.human_attribute_name(:observaciones) %></th>
      <th><%= model_class.human_attribute_name(:operario) %></th>
      <th><%= model_class.human_attribute_name(:Acciones) %></th>
    </tr>
  </thead>
  <tbody>
    <% @terminations = @info.terminations.all.each do |termination| %>
      <tr>
        <td><%= termination.operation.nombre %></td>
        <td><%= termination.sam %></td>
        <td><%= termination.maquina %></td>
        <td><%= termination.calibre_aguja %></td>
        <td><%= termination.ppp %></td>
        <td><%= termination.margen_costura %></td>
        <td><%= termination.guia_accesorios %></td>
        <td><%= termination.observaciones %></td>
        <td><%= termination.oper_id%></td>
        <td><center>
         <div class="btn-group">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
              ︾</a>
              <ul class="dropdown-menu">
                <li> <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_info_termination_path(@info,termination) %></li>
                <li> <%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, info_termination_path(@info,termination), method: :delete, data: { confirm: 'Estas segur@?' },remote: true %></li>
              </ul>
          </div>
        </center></td>
      </tr>
    <% end %>
  </tbody>
</table>


