<%- model_class = Termination -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:operation_id) %>:</strong></dt>
  <dd><%= @termination.operation_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sam) %>:</strong></dt>
  <dd><%= @termination.sam %></dd>
  <dt><strong><%= model_class.human_attribute_name(:maquina) %>:</strong></dt>
  <dd><%= @termination.maquina %></dd>
  <dt><strong><%= model_class.human_attribute_name(:calibre_aguja) %>:</strong></dt>
  <dd><%= @termination.calibre_aguja %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ppp) %>:</strong></dt>
  <dd><%= @termination.ppp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:margen_costura) %>:</strong></dt>
  <dd><%= @termination.margen_costura %></dd>
  <dt><strong><%= model_class.human_attribute_name(:guia_accesorios) %>:</strong></dt>
  <dd><%= @termination.guia_accesorios %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observaciones) %>:</strong></dt>
  <dd><%= @termination.observaciones %></dd>
</dl>

<%= link_to 'Atras', '/infos/1/developments', :class => 'btn btn-default' %>

