<%= simple_form_for [@modulo,@group,@oper], :html => { :class => 'form-group' } do |f| %>
<div class="form-group">
  <%= f.label :Tipo_documento %>
  <%= f.text_field :tipo_doc_id, class: "form-control" %>
</div>  
<div class="form-group">
  <%= f.label :Numero_documento%>
  <%= f.text_field :numero_documento, class: "form-control", placeholder: "Ingrese el numero de documento" %>
</div>
<div class="form-group">
  <%= f.label :Nombres%>
  <%= f.text_field :nombre, class: "form-control",         placeholder: "Ingrese los nombres" %>
</div>
<div class="form-group">
  <%= f.label :Apellidos%>
  <%= f.text_field :apellido, class: "form-control",         placeholder: "Ingrese los apellidos" %>
</div>
<div class="form-group">
  <%= f.label :Correo%>
  <%= f.text_field :correo, class: "form-control",         placeholder: "Ingrese el telefono" %>
</div>
<div class="form-group">
  <%= f.label :Telefono%>
  <%= f.text_field :telefono, class: "form-control",         placeholder: "Ingrese el telefono" %>
</div>  
 

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                group_opers_path(@group), :class => 'btn btn-default' %>
<% end %>
