<%- model_class = Maquina -%>
<div class="well">
    <h1><center>Listado <small>Maquinas</small></center></h1>
</div>
<div class="alert alert-dismissable alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>En esta página del sistema podras registrar todas las maquinas que funcionan o estan activas en este modulo
  y por medio de la ficha tecnica de la maquina tener una idea clara de como es el trabajo de la misma.</p>
</div>
<div class="well">
<%= link_to t('.nuevo'),
  new_modulo_maquina_path(@modulo),
            :class => 'btn btn-success btn-lg active' %>
</div>
<!-- buscador -->
<div class="tbusca"> 
   <%= form_tag modulo_maquinas_path(@modulo), :method => 'get' do %>
     <% content_tag :label do %>
        <div class="form-group">
          Buscador:
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Buscar", class: "btn btn-default"%>
        </div> 
     <% end %>
  <% end %>
  </div>
<!-- descargar en formato xls(excel) -->
<div class="linkex">
  <strong class="txt-success"><a><%= link_to "Descargar tabla en ", modulo_maquinas_path(format: "xls") %></a></strong>
  <%= link_to image_tag("excel.png", :size => "20x20"), modulo_maquinas_path(format: "xls"), class: 'btn btn-default' %>
</div>
<br>
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:ficha_tecnica) %></th>
      <th><%= model_class.human_attribute_name(:cantidad) %></th>
      <th><%= model_class.human_attribute_name(:Opciones) %></th>
    </tr>
  </thead>
  <tbody>
    <% if @maquinas.count == 0 %>
      <tr>
        <td colspan="3">
          No hay ninguna maquina.  click en el boton de nuevo para agregar una nueva maquina.
        </td>
      </tr>
    <% else %>
    <% @maquinas.each do |maquina| %>
      <tr>
        <td><%= maquina.nombre %></td>
        <td><%= maquina.descripcion %></td>
        <td><center><%= link_to('<button class="btn btn-default"><small> Ver </small><i class="fa fa-eye"></i></button>'.html_safe, maquina.ficha.url) %></center></td>
        <td><%= maquina.cantidad %></td>
        <td><center>
         <div id="wrap">
            <ul id="navbar">
              <li>
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                ︾</a>
            <ul>
                <li> <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_modulo_maquina_path(@modulo,maquina) %></li>
                <li> <%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, modulo_maquina_path(@modulo,maquina), method: :delete, data: { confirm: 'Estas segur@?' },remote: true %></li>
              </ul>
              </li>
              </ul>
          </div>
        </center></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
  
  <%= link_to 'atras', modulos_path, :class => 'btn btn-success btn-lg active' %>
  <!-- Paginacion -->
<nav>
  <ul class="pager">
    <%= will_paginate @maquinas, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
  </ul>
</nav>
<br>
<h4><span class="label label-warning gran">Maquinas Registradas: <%= @maquinas.count %></span></h4>

