<%= simple_form_for @modulo, :html => { :class => 'form-group' } do |f| %>
<% if @modulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@modulo.errors.count, "error") %> campos obligatorios:</h2>

      <ul>
      <% @modulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <%= f.label :Nombre %>
  <%= f.text_field :nombre, class: "form-control", placeholder: "Ingrese el nombre" %>
</div>
<div class="form-group">
  <%= f.label :Descripcion%>
  <%= f.text_area :descripcion, class: "form-control", placeholder: "Ingrese uns descripcion" %>
</div>
  <%= f.button :submit,'Crear Modulo', :class => 'btn-primary' %>
  <%= link_to 'Cancelar', 
                modulos_path, :class => 'btn btn-default' %>
<% end %>
