<%- model_class = Modulo -%>
<div class="well">
  <div id="anim">
    <h1><center>Listado  <small>Modulos</small></center></h1>
  </div>
</div>  
<div class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>En esta página podras visualizar toda la informacion acerca de los modulos registrados en el area de confecciones
     asi como cada uno de sus componentes y su informacion mas basica, podiendo haceder a ellos por medio de un buscador.</p>
</div>
<br>
    <div class="page-header"> 
    <%= link_to 'Nuevo modulo',
            new_modulo_path,
            class: "btn btn-success btn-lg active" %>
   </div><br>
   <br>
   <!-- Buscador -->
  <div class="tbusca"> 
   <%= form_tag modulos_path, :method => 'get' do %>
     <% content_tag :label do %>
        <div class="form-group">
          Buscador:
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Buscar", class: "btn btn-default"%>
        </div> 
  <% end %>
  <% end %>
  </div>

   <!-- Link de generar xls (excel) -->
   <div class="linkex">
      <strong class="txt-success"><a><%= link_to "Descargar tabla en ", modulos_path(format: "xls") %></a></strong>
      <%= link_to image_tag("excel.png", :size => "20x20"), modulos_path(format: "xls"), class: 'btn btn-default' %>
   </div>
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <br>
    <tr>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:Maquinas) %></th>
      <th><%= model_class.human_attribute_name(:Operaciones) %></th>
      <th><%= model_class.human_attribute_name(:Instructores) %></th>
      <th><%= model_class.human_attribute_name(:Grupos) %></th>
       <th><%= model_class.human_attribute_name(:Opciones) %></th>
  </thead>
  <tbody>
    <% @modulos.each do |modulo| %>
      <tr>
        <td><%= modulo.nombre %></td>
        <td><%= modulo.descripcion %></td>
        <td><center><%= link_to '<button class="btn btn-success"><small> Maquinas </small><i class="fa fa-folder-open-o"></i></button>'.html_safe, modulo_maquinas_path(modulo) %></center></td>
        <td><center><%= link_to '<button class="btn btn-warning"><small> Operaciones </small><i class="fa fa-folder-open-o"></i></button>'.html_safe, modulo_operations_path(modulo) %></center></td>
        <td><center><%= link_to '<button class="btn btn-success"><small> Instructores </small><i class="fa fa-folder-open-o"></i></button>'.html_safe, modulo_instructors_path(modulo) %></center></td>
        <td><center><%= link_to '<button class="btn btn-warning"><small> Grupos </small><i class="fa fa-folder-open-o"></i></button>'.html_safe, modulo_groups_path(modulo) %></center></td>
        <td><center> 
        <div id="wrap">
            <ul id="navbar">
              <li>
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                ︾</a>
            <ul>
              <li> <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_modulo_path(modulo) %></li>
              <li> <%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, modulo, method: :delete, data: { confirm: 'Estas segur@?' }%></li>
            </ul>
            </li>
        </div>
        </center></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginacion -->
<div class="pie">
<nav>
  <ul class="pager">
    <%= will_paginate @modulos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
    <h4>Modulos Registrados: <%= @modulos.count %></h4>
  </ul>
</nav>
<br>

</div>


