<%- model_class = Modulo -%>
<div class="well">
  <h1><center>Modulo</center></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @modulo.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @modulo.descripcion %></dd>
</dl>

<%= link_to 'Atras', 
              modulos_path, :class => 'btn btn-default'  %>

