<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
   <Style ss:ID="head">
      
      <Font ss:FontName="Calibri" ss:Size="13" ss:Bold="1" ss:Border="1"/>
      <Borders>
	    	<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
	 		</Borders>
    </Style>
    <Style ss:ID="body">
      <Borders>
	    	<Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
				<Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
	 		</Borders>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      
      <Row>
        <Cell ss:StyleID="head"><Data ss:Type="String">Tipo Documento</Data></Cell>
        <Cell ss:StyleID="head"><Data ss:Type="String">Numero Documento</Data></Cell>
        <Cell ss:StyleID="head"><Data ss:Type="String">Nombres</Data></Cell>
        <Cell ss:StyleID="head"><Data ss:Type="String">Apellidos</Data></Cell>
        <Cell ss:StyleID="head"><Data ss:Type="String">Correo</Data></Cell>
        <Cell ss:StyleID="head"><Data ss:Type="String">Telefono</Data></Cell>
      </Row>
    <% @instructors.each do |instructor| %>
      <Row>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= instructor.tipo_doc.nombre %></Data></Cell>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= instructor.numero_doc %></Data></Cell>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= instructor.nombres %></Data></Cell>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= instructor.apellidos %></Data></Cell>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= instructor.correo %></Data></Cell>
        <Cell ss:StyleID="body"><Data ss:Type="String"><%= instructor.telefono %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>