<%= simple_form_for [@modulo,@group], :html => { :class => 'form-group' } do |f| %>
<div class="form-group">
  <%= f.label :Nombre%>
  <%= f.text_field :nombre, class: "form-control",         placeholder: "Ingrese el nombre" %>
</div>  
<div class="form-group">
  <%= f.label :Numero_ficha%>
  <%= f.text_field :num_ficha, class: "form-control",         placeholder: "Ingrese el numero de ficha" %>
</div>  

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
  modulo_groups_path(), :class => 'btn btn-default' %>
<% end %>
