<%= simple_form_for [@modulo,@group], :html => { :class => 'form-group' } do |f| %>
<% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> campos obligatorios:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <%= f.label :Nombre%>
  <%= f.text_field :nombre, class: "form-control", placeholder: "Ingrese el nombre" %>
</div>  
<div class="form-group">
  <%= f.label :Numero_ficha%>
  <%= f.text_field :num_ficha, class: "form-control", placeholder: "Ingrese el numero de ficha" %>
</div>  

  <%= f.button :submit, 'Crear grupo', :class => 'btn-primary' %>
  <%= link_to 'Cancelar', 
  modulo_groups_path(), :class => 'btn btn-default' %>
<% end %>
