<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @group.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:num_ficha) %>:</strong></dt>
  <dd><%= @group.num_ficha %></dd>
  <dt><strong><%= model_class.human_attribute_name(:modulo_id) %>:</strong></dt>
  <dd><%= @group.modulo_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              groups_path, :class => 'btn btn-default'  %>

