<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group"> 
    <%= f.label :Correo %><br /> 
    <%= f.text_field :email %> 
  </div> 
  <div class="form-group"> 
    <%= f.label :Contraseña %><br /> 
    <%= f.password_field :password %> 
  </div> 
  <div class="form-group"> 
    <%= f.label :Confirmar_Contraseña %><br /> 
    <%= f.password_field :password_confirmation %> 
  </div> 

    
  <%= f.button :submit, :class => 'btn-success' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                static_pages_home_path , :class => 'btn btn-default' %>
<% end %>
