<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> campos obligatorios:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><br>
  <br>
  <center><div class="form-group"> 
    <%= f.label :Correo %><br /> 
    <%= f.text_field :email %> 
  </div></center> 
  <center><div class="form-group"> 
    <%= f.label :Contraseña %><br /> 
    <%= f.password_field :password %> 
  </div></center> 
  <center><div class="form-group"> 
    <%= f.label :Confirmar_Contraseña %><br /> 
    <%= f.password_field :password_confirmation %> 
  </div></center> 
  <center><div class="form-group">
    <%= f.label :Rol %><br>
    <%= f.collection_select :rol_id, Rol.all, :id, :nombre, class: "form-contol", prompt: "Seleccione un rol" %>
  </div></center>

    
  <center><%= f.button :submit ,'Crear', :class => 'btn-success' %>
  <%= link_to t('.Cancelar', :default => t("helpers.links.cancel")),
                static_pages_home_path , :class => 'btn btn-default' %></center>
<% end %>
