<%= simple_form_for [@ficha,@cost], :html => { :class => 'form-horizontal' } do |f| %>
<div class="list-group-item"> 
    <div class="productoo">
      <%= f.label :PRODUCTO, :class => 'letraa' %>
      :
    </div>
  <div class="producto">
      <%= f.text_field :producto %>
  </div>  
  
  <div class="lotee">
   <%= f.label :LOTE, :class => 'letra' %>
   :
  </div>
  <div class="lote">
  <%= f.text_field :lote %>
  </div>
  
  <div class="cantt">
   <%= f.label :CANT, :class => 'letraa' %>
   :
  </div>
  <div class="cant">
   <%= f.text_field :cant %>
  </div>
  
  <div class="und">
   <%= f.label :UND %>
  <%= f.text_field :und %>
  </div>
  
  <div class="detalle">
  <%= f.label :DETALLE %>  
  <%= f.text_field :detalle %>
  </div>
  <div class="vr_unit">
  <%= f.label :VR_UNIT %>
  <%= f.text_field :vr_unit %>
  </div>
  <div class="vr_total">
  <%= f.label :VR_TOTAL %>  
  <%= f.text_field :vr_total %>
  </div>
  <div class="cant2">
  <%= f.label :CANT %>  
  <%= f.text_field :cant2 %>
  </div>
  <div class="und2">
  <%= f.label :UND %>  
  <%= f.text_field :und2 %>
  </div>
  <div class="detalle2">
  <%= f.label :DETALLE %>  
  <%= f.text_field :detalle2 %>
  </div>
  <div class="vr_unit2">
  <%= f.label :VR_UNIT %>
  <%= f.text_field :vr_unit2 %>
  </div>
  <div class="vr_total2">
  <%= f.label :VR_TOTAL %>  
  <%= f.text_field :vr_total2 %>
  </div>
  <div class="t_costo_mat">
  <%= f.label :TOTAL_COSTO_DE_MATERIALES %>  
  <%= f.text_field :t_costo_mat %>
  </div>
  <div class="t_costo_mano">
  <%= f.label :TOTAL_COSTO_DE_MANO_DE_OBRA %> 
  <%= f.text_field :t_costo_mano %>
  </div>
  <div class="cost_to_prod">
  <%= f.label :COSTO_TOTAL_DE_PRODUCCION_DEL_LOTE %>  
  <%= f.text_field :cost_to_prod %>
  </div>
  <div class="cost_uni_prod">
  <%= f.label :COSTO_UNITARIO_DE_PRODUCCION %>  
  <%= f.text_field :cost_uni_prod %>
  </div>
</div>  
  <br>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ficha_costs_path(@ficha), :class => 'btn btn-default' %>
<% end %>
