<%= simple_form_for [@ficha,@cost], :html => { :class => 'form-horizontal' } do |f| %>
<div class="fondo"> 
    <div class="productoo">
      <%= f.label :PRODUCTO, :class => 'letraa' %>
      :
    </div>
  <div class="producto">
      <%= f.text_field :producto %>
  </div>  
  
  <div class="lotee">
   <%= f.label :LOTE, :class => 'letra' %>
   :
  </div>
  <div class="lote">
  <%= f.text_field :lote %>
  </div>
  
  <div class="cantt">
   <%= f.label :CANT, :class => 'letraa' %>
   :
  </div>
  
  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><center><b>Costeo de Materiales</b></center></h3>
        </div>
  </div>  
  
  <div class="cant">
   <%= f.text_field :cant, :class => 'tamaño' %>
  </div>
  
  <div class="undd">
   <%= f.label :UND %>
   :
  </div>
  <div class="und">
   <%= f.text_field :und, :class => 'tamaño' %>
  </div>
  
  <div class="detallee">
   <%= f.label :DETALLE %>  
   :
  </div>
  <div class="detalle">
  <%= f.text_field :detalle, :class => 'tamaño2' %>
  </div>
  
  <div class="vr_unitt">
   <%= f.label :VR_UNIT %>
   :
  </div>
  <div class="vr_unit">
  <%= f.text_field :vr_unit, :class => 'tamaño' %>
  </div>
  
  <div class="vr_totall">
   <%= f.label :VR_TOTAL %> 
   :
  </div>
  <div class="vr_total">
   <%= f.text_field :vr_total, :class => 'tamaño' %>
  </div>
  
  <div class="t_costo_matt">
   <%= f.label :TOTAL_COSTO_DE_MATERIALES %>  
  </div>
  <div class="t_costo_mat">
   <%= f.text_field :t_costo_mat, :class => 'tamaño' %>
  </div>
  
  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><center><b>Costeo de Mano de Obra</b></center></h3>
        </div>
  </div> 
    
  <div class="cantt2">
   <%= f.label :CANT %>
   :
  </div>
  <div class="cant2">
   <%= f.text_field :cant2 %>
  </div>
  
  <div class="und2">
  <%= f.label :UND %>  
  <%= f.text_field :und2 %>
  </div>
  <div class="detalle2">
  <%= f.label :DETALLE %>  
  <%= f.text_field :detalle2 %>
  </div>
  <div class="vr_unit2">
  <%= f.label :VR_UNIT %>
  <%= f.text_field :vr_unit2 %>
  </div>
  <div class="vr_total2">
  <%= f.label :VR_TOTAL %>  
  <%= f.text_field :vr_total2 %>
  </div>
  <div class="t_costo_mano">
  <%= f.label :TOTAL_COSTO_DE_MANO_DE_OBRA %> 
  <%= f.text_field :t_costo_mano %>
  </div>
  <div class="cost_to_prod">
  <%= f.label :COSTO_TOTAL_DE_PRODUCCION_DEL_LOTE %>  
  <%= f.text_field :cost_to_prod %>
  </div>
  <div class="cost_uni_prod">
  <%= f.label :COSTO_UNITARIO_DE_PRODUCCION %>  
  <%= f.text_field :cost_uni_prod %>
  </div>
</div>  
  <br>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ficha_costs_path(@ficha), :class => 'btn btn-default' %>
<% end %>
