<%= simple_form_for [@ficha,@cost], :html => { :class => 'form-horizontal' } do |f| %>
 <script>
 var total, total001, total002;
    function cantidadCero(){
      var cant = document.getElementById('cant').value;
      var vr_unit = document.getElementById('vr_unit').value;
      total = (parseInt(cant) * parseInt(vr_unit))
      document.getElementById('vr_total').value = total;
      document.getElementById('t_costo_mat').value = total;
    }  
    
    function cantidadUno(){
      var cant001 = document.getElementById('cant001').value;
      var vr_unit001 = document.getElementById('vr_unit001').value;
      total001 = (parseInt(cant001) * parseInt(vr_unit001))
      document.getElementById('vr_total001').value = total001;
      document.getElementById('t_costo_mat').value = total + total001;
    }
    
    function cantidadDos(){
     var cant002 = document.getElementById('cant002').value;
     var vr_unit002 = document.getElementById('vr_unit002').value;
     total002 = (parseInt(cant002) * parseInt(vr_unit002))
     document.getElementById('vr_total002').value = total002;
     document.getElementById('t_costo_mat').value = total + total001 + total002;
    }
 </script>
<div class="fondo"> 
    <div class="productoo">
      <strong><center>PRODUCTO</center></strong>
    </div>
  <div class="producto">
      <%= f.text_field :producto %>
  </div>  
  
  <div class="lotee">
   <strong><center>LOTE</center></strong>
  </div>
  <div class="lote">
  <%= f.text_field :lote %>
  </div>
  
  <div class="cantt">
   <strong><center>CANT</strong></center>
  </div>
  
  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><center><b>Costeo de Materiales</b></center></h3>
        </div>
  </div> 
  
  <div class="cant">
   <%= f.text_field :cant, :class => 'tamaño', :id => 'cant' %>
  </div>
  <div class="cant001">
   <%= f.text_field :cant001, :class => 'tamaño', :id => 'cant001' %>
  </div>
  <div class="cant002">
   <%= f.text_field :cant002, :class => 'tamaño', :id => 'cant002' %>
  </div>
  <div class="cant003">
   <%= f.text_field :cant003, :class => 'tamaño' %>
  </div>
  <div class="cant004">
   <%= f.text_field :cant004, :class => 'tamaño' %>
  </div>
  <div class="cant005">
   <%= f.text_field :cant005, :class => 'tamaño' %>
  </div>
  <div class="cant006">
   <%= f.text_field :cant006, :class => 'tamaño' %>
  </div>
  <div class="cant007">
   <%= f.text_field :cant007, :class => 'tamaño'%>
  </div>
  <div class="undd">
   <strong><center>UND</strong></center> 
  </div>
  <div class="und">
   <%= f.text_field :und, :class => 'tamaño' %>
  </div>
  <div class="und001">
   <%= f.text_field :und001, :class => 'tamaño'%>
  </div>
  <div class="und002">
   <%= f.text_field :und002, :class => 'tamaño'%>
  </div>
  <div class="und003">
   <%= f.text_field :und003, :class => 'tamaño' %>
  </div>
  <div class="und004">
   <%= f.text_field :und004, :class => 'tamaño' %>
  </div>
  <div class="und005">
   <%= f.text_field :und005, :class => 'tamaño' %>
  </div>
  <div class="und006">
   <%= f.text_field :und006, :class => 'tamaño' %>
  </div>
  <div class="und007">
   <%= f.text_field :und007, :class => 'tamaño'%>
  </div>
  <div class="detallee">
   <strong><center>DETALLE</strong></center>
  </div>
  <div class="detalle">
  <%= f.text_field :detalle, :class => 'tamaño2' %>
  </div>
  <div class="detalle001">
   <%= f.text_field :detalle001, :class => 'tamaño2' %>
  </div>
  <div class= "detalle002">
   <%= f.text_field :detalle002, :class => 'tamaño2'%>
  </div>
  <div class="detalle003">
   <%= f.text_field :detalle003, :class => 'tamaño2' %>
  </div>
  <div class="detalle004">
   <%= f.text_field :detalle004, :class => 'tamaño2' %>
  </div>
  <div class="detalle005">
   <%= f.text_field :detalle005, :class => 'tamaño2'%>
  </div>
  <div class="detalle006">
   <%= f.text_field :detalle006, :class => 'tamaño2'%>
  </div>
  <div class="detalle007">
   <%= f.text_field :detalle007, :class => 'tamaño2'%>
  </div>
  <div class="vr_unitt">
   <strong><center>VR_UNIT</strong></center>
  </div>
  <div class="vr_unit">
  <%= f.text_field :vr_unit, :class => 'tamaño', :id => 'vr_unit', :onblur => 'cantidadCero()' %>
  </div>
  <div class="vr_unit001">
   <%= f.text_field :vr_unit001, :class => 'tamaño', :id => 'vr_unit001', :onblur => 'cantidadUno()' %>
  </div>
  <div class="vr_unit002">
   <%= f.text_field :vr_unit002, :class => 'tamaño', :id => 'vr_unit002', :onblur => 'cantidadDos()' %>
  </div>
  <div class="vr_unit003">
   <%= f.text_field :vr_unit003, :class => 'tamaño' %>
  </div>
  <div class="vr_unit004">
   <%= f.text_field :vr_unit004, :class => 'tamaño' %>
  </div>
  <div class="vr_unit005">
   <%= f.text_field :vr_unit005, :class => 'tamaño' %>
  </div>
  <div class="vr_unit006">
   <%= f.text_field :vr_unit006, :class => 'tamaño' %>
  </div>
  <div class="vr_unit007">
   <%= f.text_field :vr_unit007, :class => 'tamaño' %>
  </div>
  <div class="vr_totall">
   <strong><center>VR_TOTAL</strong></center>
  </div>
  <div class="vr_total">
   <%= f.text_field :vr_total, :class => 'tamaño', :id => 'vr_total' %>
  </div>
  <div class="vr_total001">
   <%= f.text_field :vr_total001, :class => 'tamaño', :id => 'vr_total001' %>
  </div>
  <div class="vr_total002">
   <%= f.text_field :vr_total002, :class => 'tamaño', :id => 'vr_total002' %>
  </div>
  <div class="vr_total003">
   <%= f.text_field :vr_total003, :class => 'tamaño' %>
  </div>
  <div class="vr_total004">
   <%= f.text_field :vr_total004, :class => 'tamaño' %>
  </div>
  <div class="vr_total005">
   <%= f.text_field :vr_total005, :class => 'tamaño'%>
  </div>
  <div class="vr_total006">
   <%= f.text_field :vr_total006, :class => 'tamaño'%>
  </div>
  <div class="vr_total007">
   <%= f.text_field :vr_total007, :class => 'tamaño' %>
  </div>
  <div class="t_costo_matt">
   <strong><center>TOTAL COSTO DE MATERIALES</strong></center> 
  </div>
  <div class="t_costo_mat">
   <%= f.text_field :t_costo_mat, :class => 'tamaño', :id => 't_costo_mat' %>
  </div>
  
  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><center><b>Costeo de Mano de Obra</b></center></h3>
        </div>
  </div> 
    
  <div class="cantt2">
   <strong><center>CANT</strong></center>
  </div>
  <div class="cant2">
   <%= f.text_field :cant2, :class => 'tamaño' %>
  </div>
  <div class="cant2001">
   <%= f.text_field :cant2001, :class => 'tamaño'%>
  </div>  
  <div class="cant2002">
   <%= f.text_field :cant2002, :class => 'tamaño' %>
  </div>
  <div class="cant2003">
   <%= f.text_field :cant2003, :class => 'tamaño' %>
  </div>
  <div class="cant2004">
   <%= f.text_field :cant2004, :class => 'tamaño' %>
  </div>
  <div class="cant2005">
   <%= f.text_field :cant2005, :class => 'tamaño' %>
  </div>
  <div class="cant2006">
   <%= f.text_field :cant2006, :class => 'tamaño' %>
  </div>
  <div class="cant2007">
   <%= f.text_field :cant2007, :class => 'tamaño' %>
  </div>
  <div class="undd2">
   <strong><center>UND</strong></center> 
  </div>
  <div class="und2">
   <%= f.text_field :und2, :class => 'tamaño' %>
  </div>
  <div class="und2001">
   <%= f.text_field :und2001, :class => 'tamaño' %>
  </div>
  <div class="und2002">
   <%= f.text_field :und2002, :class => 'tamaño' %>
  </div>
  <div class="und2003">
   <%= f.text_field :und2003, :class => 'tamaño' %>
  </div>
  <div class="und2004">
   <%= f.text_field :und2004, :class => 'tamaño' %>
  </div>
  <div class="und2005">
   <%= f.text_field :und2005, :class => 'tamaño' %>
  </div>
  <div class="und2006">
   <%= f.text_field :und2006, :class => 'tamaño' %>
  </div>
  <div class="und2007">
   <%= f.text_field :und2007, :class => 'tamaño' %>
  </div>
  <div class="detallee2">
   <strong><center>DETALLE</strong></center>
  </div>
  <div class="detalle2">
   <%= f.text_field :detalle2, :class => 'tamaño2' %>
  </div>
  <div class="detalle2001"> 
    <%= f.text_field :detalle2001, :class => 'tamaño2'%>
  </div>
  <div class="detalle2002">
   <%= f.text_field :detalle2002, :class => 'tamaño2' %>
  </div>
  <div class="detalle2003">
   <%= f.text_field :detalle2003, :class => 'tamaño2' %>
  </div>
  <div class="detalle2004">
   <%= f.text_field :detalle2004, :class => 'tamaño2' %>
  </div>
  <div class="detalle2005">
   <%= f.text_field :detalle2005, :class => 'tamaño2' %>
  </div>
  <div class="detalle2006">
   <%= f.text_field :detalle2006, :class => 'tamaño2' %>
  </div>
  <div class="detalle2007">
   <%= f.text_field :detalle2007, :class => 'tamaño2' %>
  </div>
  <div class="vr_unitt2">
   <strong><center>VR_UNIT</strong></center>
  </div>
  <div class="vr_unit2">
   <%= f.text_field :vr_unit2, :class => 'tamaño' %>
  </div>
  <div class="vr_unit2001">
   <%= f.text_field :vr_unit2001, :class => 'tamaño'%>
  </div>
  <div class="vr_unit2002">
   <%= f.text_field :vr_unit2002, :class => 'tamaño' %>
  </div>
  <div class="vr_unit2003">
   <%= f.text_field :vr_unit2003, :class => 'tamaño' %>
  </div>
  <div class="vr_unit2004">
   <%= f.text_field :vr_unit2004, :class => 'tamaño' %>
  </div>
  <div class="vr_unit2005">
   <%= f.text_field :vr_unit2005, :class => 'tamaño' %>
  </div>
  <div class="vr_unit2006">
   <%= f.text_field :vr_unit2006, :class => 'tamaño' %>
  </div>
  <div class="vr_unit2007">
   <%= f.text_field :vr_unit2007, :class => 'tamaño' %>
  </div>
  <div class="vr_totall2">
   <strong><center>VR_TOTAL</strong></center>
  </div>
  <div class="vr_total2">
   <%= f.text_field :vr_total2, :class => 'tamaño' %>
  </div>
  <div class="vr_total2001">
   <%= f.text_field :vr_total2001, :class => 'tamaño'%>
  </div>
  <div class="vr_total2002">
   <%= f.text_field :vr_total2002, :class => 'tamaño' %>
  </div>
  <div class="vr_total2003">
   <%= f.text_field :vr_total2003, :class => 'tamaño' %>
  </div>
  <div class="vr_total2004">
   <%= f.text_field :vr_total2004, :class => 'tamaño' %>
  </div>
  <div class="vr_total2005">
   <%= f.text_field :vr_total2005, :class => 'tamaño' %>
  </div>
  <div class="vr_total2006">
   <%= f.text_field :vr_total2006, :class => 'tamaño' %>
  </div>
  <div class="vr_total2007">
   <%= f.text_field :vr_total2007, :class => 'tamaño' %>
  </div>
  <div class="t_costo_manoo">
   <strong><center>TOTAL COSTO DE MANO DE OBRA</strong></center>
  </div>
  <div class="t_costo_mano">
   <%= f.text_field :t_costo_mano, :class => 'tamaño' %>
  </div>
  
  <div class="cost_to_prodd">
   <strong><center>COSTO TOTAL DE PRODUCCION DEL LOTE</center></strong>
  </div>
  <div class="cost_to_prod">
   <%= f.text_field :cost_to_prod, :class => 'tamaño' %>
  </div>
  
  <div class="cost_uni_prodd">
   <strong><center>COSTO UNITARIO DE PRODUCCION</center></strong>
  </div>
  <div class="cost_uni_prod">
   <%= f.text_field :cost_uni_prod, :class => 'tamaño' %>
  </div>
  
</div>  
  <br>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ficha_costs_path(@ficha), :class => 'btn btn-default' %>
<% end %>
