<%- model_class = Cost -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:producto) %></th>
      <th><%= model_class.human_attribute_name(:lote) %></th>
      <th><%= model_class.human_attribute_name(:cant) %></th>
      <th><%= model_class.human_attribute_name(:und) %></th>
      <th><%= model_class.human_attribute_name(:detalle) %></th>
      <th><%= model_class.human_attribute_name(:vr_unit) %></th>
      <th><%= model_class.human_attribute_name(:vr_total) %></th>
      <th><%= model_class.human_attribute_name(:cant2) %></th>
      <th><%= model_class.human_attribute_name(:und2) %></th>
      <th><%= model_class.human_attribute_name(:detalle2) %></th>
      <th><%= model_class.human_attribute_name(:vr_unit2) %></th>
      <th><%= model_class.human_attribute_name(:vr_total2) %></th>
      <th><%= model_class.human_attribute_name(:t_costo_mat) %></th>
      <th><%= model_class.human_attribute_name(:t_costo_mano) %></th>
      <th><%= model_class.human_attribute_name(:cost_to_prod) %></th>
      <th><%= model_class.human_attribute_name(:cost_uni_prod) %></th>
      <th><%= model_class.human_attribute_name(:ficha_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= link_to cost.id, cost_path(cost) %></td>
        <td><%= cost.producto %></td>
        <td><%= cost.lote %></td>
        <td><%= cost.cant %></td>
        <td><%= cost.und %></td>
        <td><%= cost.detalle %></td>
        <td><%= cost.vr_unit %></td>
        <td><%= cost.vr_total %></td>
        <td><%= cost.cant2 %></td>
        <td><%= cost.und2 %></td>
        <td><%= cost.detalle2 %></td>
        <td><%= cost.vr_unit2 %></td>
        <td><%= cost.vr_total2 %></td>
        <td><%= cost.t_costo_mat %></td>
        <td><%= cost.t_costo_mano %></td>
        <td><%= cost.cost_to_prod %></td>
        <td><%= cost.cost_uni_prod %></td>
        <td><%= cost.ficha_id %></td>
        <td><%=l cost.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cost_path(cost), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cost_path(cost),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_cost_path,
            :class => 'btn btn-primary' %>
