<%- model_class = Development -%>
<div class="well">
    <h1><center>Preparación</center></h1>
</div>
    <div class="well">
        <%= link_to 'Nuevo', 
            new_info_development_path(@info),
            :class => 'btn btn-success' %>
</div>

<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:operación) %></th>
      <th><%= model_class.human_attribute_name(:sam) %></th>
      <th><%= model_class.human_attribute_name(:maquina) %></th>
      <th><%= model_class.human_attribute_name(:nombre_calibre_aguja) %></th>
      <th><%= model_class.human_attribute_name(:ppp) %></th>
      <th><%= model_class.human_attribute_name(:margen_costura) %></th>
      <th><%= model_class.human_attribute_name(:guia_accesorios) %></th>
      <th><%= model_class.human_attribute_name(:observaciones) %></th>
      <th><%= model_class.human_attribute_name(:operario) %></th>
      <th><%= model_class.human_attribute_name(:Opciones) %></th>
    </tr>
  </thead>
  <tbody>
    <% @developments.each do |development| %>
      <tr>
        <td><%= development.operation.nombre %></td>
        <td><%= development.sam %></td>
        <td><%= development.maquina %></td>
        <td><%= development.calibre_aguja %></td>
        <td><%= development.ppp %></td>
        <td><%= development.margen_costura %></td>
        <td><%= development.guia_accesorios %></td>
        <td><%= development.observaciones %></td>
        <td><%= development.oper.nombre %></td>
        <td><center>
         <div id="wrap">
            <ul id="navbar">
              <li>
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                ︾</a>
            <ul>
                <li> <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_info_development_path(@info,development) %></li>
                <li> <%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, info_development_path(@info,development), method: :delete, data: { confirm: 'Estas segur@?' }%></li>
              </ul>
              </li>
              </ul>
          </div>
        </center></td>
      </tr>
    <% end %>
  </tbody>
</table>

______________________________________________

<%= render 'ensambles/index1' %>
______________________________________________

<%= render 'terminations/index2' %>

<%= link_to 'atras', fichas_path, :class => 'btn btn-success btn-lg active' %>