<%- model_class = Prenda -%>
<div class="well">
  <div id="anim">
    <h1><center>Piezas <small>por Prenda</small></center></h1>
  </div>  
</div>
<br>
    <div class="page-header">
        <%= link_to 'Nuevo', 
            new_info_prenda_path(@info),
            :class => 'btn btn-success' %>
</div><br>
<br>
<!-- buscador -->
<div class="tbusca"> 
   <%= form_tag info_prendas_path(@info), :method => 'get' do %>
     <% content_tag :label do %>
        <div class="form-group">
          Buscador:
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Buscar", class: "btn btn-default"%>
        </div> 
     <% end %>
  <% end %>
  </div>
  <br>
  <br>
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:cantidad) %></th>
      <th><%= model_class.human_attribute_name(:observaciones) %></th>
       <th><%= model_class.human_attribute_name(:Opciones) %></th>
    </tr>
  </thead>
  <tbody>
    <% @prendas.each do |prenda| %>
      <tr>
        <td><%= prenda.nombre %></td>
        <td><%= prenda.cantidad %></td>
        <td><%= prenda.observaciones %></td>
       <td><center>
        <div id="wrap">
            <ul id="navbar">
              <li>
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                ︾</a>
            <ul>
                <li> <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_info_prenda_path(@info,prenda) %></li>
                <li> <%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, info_prenda_path(@info,prenda), method: :delete, data: { confirm: 'Estas segur@?' } %></li>
              </ul>
              </li>
              </ul>
          </div>
        </center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'atras', fichas_path, :class => 'btn btn-success btn-lg active' %>
<!-- Paginacion -->
<nav>
  <ul class="pager">
    <%= will_paginate @prendas, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
  </ul>
</nav>
<br>
<h4><span class="label label-warning gran">Prendas Registradas: <%= @prendas.count %></span></h4>

