<%- model_class = Manual -%>
<div class="well">
  <div id="anim">
   <h1><center>Manuales del <small>Sistema</small></center></h1>
  </div> 
</div>
<div class="alert alert-dismissable alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>En esta página del sistema podra encontrar todos y cada uno de los manules del sistema los cuales se dividen en 3:
  Manual de Administrador, Manual de Instructor y por ultimo el Manual de la Operaria.</p>
</div>
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:manual_administrador) %></th>
      <th><%= model_class.human_attribute_name(:manual_instructor) %></th>
      <th><%= model_class.human_attribute_name(:manual_operaria) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @manuals.each do |manual| %>
      <tr>
        <td><center><%= link_to('<button class="btn btn-success"><small> Ver </small><i class="fa fa-eye"></i></button>'.html_safe, manual.administrador.url) %></center></td>
        <td><center><%= link_to('<button class="btn btn-warning"><small> Ver </small><i class="fa fa-eye"></i></button>'.html_safe, manual.instructor.url) %></center></td>
        <td><center><%= link_to('<button class="btn btn-success"><small> Ver </small><i class="fa fa-eye"></i></button>'.html_safe, manual.operaria.url) %></center></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_manual_path(manual), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      manual_path(manual),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# link_to t('.new', :default => t("helpers.links.new")),
            new_manual_path,
            :class => 'btn btn-success' %>
