<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @material.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @material.cantidad %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @material.observaciones %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', measures_path %>
