<%= simple_form_for [@oper,@nivelation], :html => { :class => 'form-horizontal' } do |f| %>
 <div class="form-group">
  <%= f.label :desempeño %>
  <%= f.text_field :desempeño, class: "form-control",           placeholder: "Ingrese desempeño "%>
  </div>
  <div class="form-group">
     <%= f.input :comentario %>
  </div>
 


  <%= f.button :submit, 'Crear nivelacion', :class => 'btn-primary' %>
  <%= link_to 'Cancelar', 
                oper_nivelations_path(@oper), :class => 'btn btn-default' %>
<% end %>
