<%= simple_form_for [@oper,@nivelation], :html => { :class => 'form-horizontal' } do |f| %>
 <div class="form-group">
  <%= f.label :operacion %>
  <%= f.text_field :nivelation_id, class: "form-control" %>
</div>
 <div class="form-group">
  <%= f.label :sam %>
  <%= f.text_field :nivelation_id, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :desempeño %>
  <%= f.text_field :desempeño, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :comentario %>
  <%= f.text_field :comentario, class: "form-control" %>
</div>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                oper_nivelations_path(@oper), :class => 'btn btn-default' %>
<% end %>
  
