<%= simple_form_for [@oper,@nivelation], :html => { :class => 'form-horizontal' } do |f| %>
 
 
<div class="form-group">
  <%= f.label :tiempo_sam %>
  <%= f.text_field :tiempo_sam,class: "form-control", placeholder: "Ingrese sam" %>
</div>
 
 <div class="form-group">
   <%=f.label :tiempo_real %>
   <%=f.text_field :tiempo_real, class: "form-control", placeholder: "Ingrese tiempo realtiempo_sam" %>
 </div>
<div class="form-group">
  <%= f.label :desempe침o %>
  <%= f.text_field :desempe침o, class: "form-control", placeholder: "Ingrese desempe침o /100" %>
  </div>
  
  <div class="form-group">
  <%= f.label :comentario %>
  <%= f.text_field :comentario, class: "form-control", placeholder: "Ingrese comentario" %>
  </div>

  <%= f.button :submit, 'Crear nivelaci칩n', :class => 'btn-primary' %>
  <%= link_to 'Cancelar', 
                oper_nivelations_path(@oper), :class => 'btn btn-default' %>
<% end %>
