<%= simple_form_for [@oper,@nivelation], :html => { :class => 'form-horizontal' } do |f| %>
<% if @nivelation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nivelation.errors.count, "error") %> campos obligatorios:</h2>

      <ul>
      <% @nivelation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class="form-group">
  <%= f.label :sam %>
  <%= f.text_field :development_id, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :tiempo_real %>
  <%= f.text_field :tiempo_real, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :desempeño %>
  <%= f.text_field :desempeño, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :comentario %>
  <%= f.text_field :comentario, class: "form-control" %>
</div>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                oper_nivelations_path(@oper), :class => 'btn btn-default' %>
<% end %>
  
