<%- model_class = Nivelation -%>
<div class="well">
  <h1><center>Listado <small>Nivelación</small></center></h1>
</div>
<div class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p>En esta página podras visualizar el desempeño de la oparearia en cada una de sus operaciones, tomando como base
     el tiempo inicial y el tiempo en que la operaria demora en desarrollar esa operacion.</p>
</div> 
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:operacion) %></th>
      <th><%= model_class.human_attribute_name(:sam) %></th>
      <th><%= model_class.human_attribute_name(:tiempo_real) %></th>
      <th><%= model_class.human_attribute_name(:desempeño) %></th>
      <th><%= model_class.human_attribute_name(:comentario) %></th>
      <th><%= model_class.human_attribute_name(:opciones) %></th>
    </tr>
  </thead>
  <tbody>
      
       <% @nivelations = @developments.all.each do |nivelation| %>
       <td><%= nivelation.operation.nombre %></td>
       <td><%= nivelation.sam %></td>
       <td><%= nivelation.tiempo_real %></td>
       <td><%= nivelation.desempeño %></td>
       <td><%= nivelation.comentario %></td>
        
      </tr>
    <% end %>
    
       <% @nivelations = @ensambles.all.each do |nivelation| %>
        <td><%= nivelation.operation.nombre %></td>
        <td><%= nivelation.sam %></td>
        <td></td>
        <td></td>
        <td></td>
          <td>
         <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_oper_nivelation_path(@oper,nivelation) %></li>
       </td>
      </tr>
    <% end %>
    
       <% @nivelations = @terminations.all.each do |nivelation| %>
        <td><%= nivelation.operation.nombre %></td>
        <td><%= nivelation.sam %></td>
        <td></td>
        <td></td>
        <td></td>
          <td>
         <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_oper_nivelation_path(@oper,nivelation) %></li>      </td>
      </tr>
    <% end %>
  </tbody>
</table>


