<%- model_class = Nivelation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:oper_id) %>:</strong></dt>
  <dd><%= @nivelation.oper_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:operation_id) %>:</strong></dt>
  <dd><%= @nivelation.operation_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:desempeño) %>:</strong></dt>
  <dd><%= @nivelation.desempeño %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comentario) %>:</strong></dt>
  <dd><%= @nivelation.comentario %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              nivelations_path, :class => 'btn btn-default'  %>
