
<%= form_tag user_sessions_path, :method => :post do %>
 <div class="field">
    <%= image_tag "correo2.jpeg",class: 'logo2'%><%= label_tag :Email %>
    <br />
     <%= text_field_tag :email %>
   </div><br>
   <div class="field">
     <%= image_tag "contraseña.jpeg",class: 'logo2'%><%= label_tag :Contraseña %><br />
     <%= password_field_tag :password %>
   </div>
   <div class="actions">
     <%= image_tag "boton.jpeg",class: 'logo3' %> <%= submit_tag "Login" %>
   </div>
 <% end %> 
 