
<%- model_class = Info -%>
    <div class="page-header">
        <div class="well">
         <% if @infos.count == 0 %>    
            <%= link_to 'Nuevo', 
                new_ficha_info_path(@ficha),
                :class => 'btn btn-success btn-lg active' %>
         <% else %>
         <% end %>        
    </div>
 <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><center><b>CENTRO DE FORMACION EN DISEÑO CONFECCION Y MODA</b></center></h3>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><center><b>FICHA TECNICA</b></center></h3>
        </div>
<br>
<br>
     <div class="prueba">
<div class="uno">
    <div class="list-group-item">  
      <b>REF</b>
      :
     <% @infos.each do |info| %>  
      <%= info.ficha.referencia %>
     <% end %>
    </div>
</div>  
<div class="dos">      
    <div class="list-group-item"> 
      <b>TALLA</b>
      :
     <% @infos.each do |info| %>
      <%= info.talla %>
     <% end %> 
    </div>
</div>  
<div class="tres">      
    <div class="list-group-item">  
      <b>T/PROMEDIO</b>
      :
     <% @infos.each do |info| %> 
      <%= info.talla_promedio %>
     <% end %> 
    </div>
</div>
<div class="cuatro">      
    <div class="list-group-item"> 
      <b>COLOR</b>
      :
      <% @infos.each do |info| %>  
       <%= info.color %>
     <% end %> 
    </div>
</div>
      
<div class="cinco">      
    <div class="list-group-item">
      <b>TELA</b>
      :
     <% @infos.each do |info| %> 
      <%= info.tela %>
     <% end %> 
    </div>
</div>
<div class="seis">     
  <center><b>DESCRIPCION</b>
        :</center>
      
     <% @infos.each do |info| %> 
       <%= info.descripcion %>
     <% end %> 
</div>
     
      <div class="imagen">
        <div class="pruebita">
        <% @infos.each do |info| %>
          <%= image_tag(info.image.url, height: '390', width: '1022') %>
        <% end %>
        </div>
      </div>


      <div class="especificaciones"><b>OBSERVACIONES Y ESPECIFICACIONES</b></h5></div>
      <div class="siete">
             <% @infos.each do |info| %> 
             <%= info.especificaciones %>
             <% end %> 
      </div>
      <div class="calidad"><b>ESTANDARES DE CALIDAD</b></div>
      <div class="once">
             <% @infos.each do |info| %> 
             <%= info.estandares %>
             <% end %> 
      </div><br><br><br><br>
<div class="ocho">      
    <div class="list-group-item"> 
      <b>MOD</b>
      :
      <% @infos.each do |info| %>  
      <%= info.modulo.nombre %>
     <% end %> 
    </div>  
</div>   
       <br>
        </div> 
<div class="diez">
    <div class="list-group-item">
      <% @infos.each do |info| %>
         <center><%= link_to 'CUADRO DE MEDIDAS', info_measures_path(info), :class => 'btn btn-default btn-xs btn-lg active' %></center>
      <% end %>  
    </div>   
        
    <div class="list-group-item">
      <% @infos.each do |info| %>
         <center><%= link_to 'PROCESOS DE LA PRENDA', info_treatments_path(info), :class => 'btn btn-default btn-xs btn-lg active' %></center>
      <% end %>  
    </div>    
        
    <div class="list-group-item">
      <% @infos.each do |info| %>
         <center><%= link_to 'PIEZAS POR PRENDA', info_prendas_path(info), :class => 'btn btn-default btn-xs btn-lg active' %></center>
      <% end %>  
    </div>    
       
      <div class="list-group-item">
      <% @infos.each do |info| %>
         <center><%= link_to 'DESARROLLO', info_developments_path(info), :class => 'btn btn-default btn-xs btn-lg active' %></center>
      <% end %>  
      </div>  
</div>  
</div>     
       <br>
      <div class="nueve">
        <% @infos.each do |info| %>  
             <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_ficha_info_path(@ficha,info) %></li>
             <%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, ficha_info_path(@ficha,info), method: :delete, data: { confirm: 'Estas segur@?' } %></li>
       <% end %>
     </div>  
</div> 

</div>
</div>
<%= link_to 'atras', fichas_path, :class => 'btn btn-success btn-lg active' %>