<%- model_class = Info -%>
<div class="page-header">
    <div class="well">
        <%= link_to t('.new', :default => t("helpers.links.new")),
            new_ficha_info_path(@ficha),
            :class => 'btn btn-primary btn-lg active' %>
</div>
    <li class="list-group-item">
      <P><center>CENTRO DE FORMACION EN DISEÑO CONFECION Y MODA</center></P>
    </li>
<li class="list-group-item"><center>FICHA TECNICA</center></li>
</div>

    <div class="uno">  
      <%= model_class.human_attribute_name(:referencia) %>
      :
     <% @infos.each do |info| %>  
      <%= info.referencia %>
     <% end %>
    </div>
    <div class="dos"> 
      <%= model_class.human_attribute_name(:talla) %>
      :
     <% @infos.each do |info| %>
      <%= info.talla %>
     <% end %> 
    </div>
    <div class="tres">  
      <%= model_class.human_attribute_name(:talla_promedio) %>
      :
     <% @infos.each do |info| %> 
      <%= info.talla_promedio %>
     <% end %> 
    </div>
    <div class="cuatro"> 
      <%= model_class.human_attribute_name(:color) %>
      :
      <% @infos.each do |info| %>  
       <%= info.color %>
     <% end %> 
    </div>
    <div class="cinco">
      <%= model_class.human_attribute_name(:tela) %>
      :
     <% @infos.each do |info| %> 
      <%= info.tela %>
     <% end %> 
    </div>
    <div class="seis">  
      <%= model_class.human_attribute_name(:descripcion) %>
      :
     <% @infos.each do |info| %> 
       <%= info.descripcion %>
     <% end %> 
    </div>  
    <div class="siete">
      <%= model_class.human_attribute_name(:especificaciones) %>
      :
     <% @infos.each do |info| %> 
      <%= info.especificaciones %>
     <% end %> 
    </div>

    <div class="ocho"> 
      <%= model_class.human_attribute_name(:modulo_id) %>
      :
      <% @infos.each do |info| %>  
      <%= info.modulo_id %>
     <% end %> 
    </div>  
      
    <div>
      <% @infos.each do |info| %>
         <%= link_to 'Medidas(' + info.measures.count.to_s+ ')', info_measures_path(info) %>
      <% end %>  
    </div>   
        
    <div>
      <% @infos.each do |info| %>
         <%= link_to 'Prendas(' + info.prendas.count.to_s+ ')', info_prendas_path(info) %>
      <% end %>  
    </div>    
       
      <div>
      <% @infos.each do |info| %>
         <%= link_to 'Desarrollo(' + info.developments.count.to_s+ ')', info_developments_path(info) %>
      <% end %>  
    </div>    
       
        
        
       
        
      <div>
        <% @infos.each do |info| %>  
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ficha_info_path(@ficha,info), :class => 'btn btn-default btn-xs btn-lg active' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ficha_info_path(@ficha,info),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger btn-lg active' %>
       <% end %>
     </div>  



_________________________________________________
