<!DOCTYPE html>
<html>
<head>
  <title>Pmyt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PMYT" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PMYT" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<% if current_user %>
<body>
  <header class="navbar">
  <div class="container-fluid expanded-panel">
    <div class="row">
      <div id="log" class="col-xs-12 col-sm-2" >
        <a href="#" class="pulse" ><center>PMYT</center></a>
      </div>
      <div id="top-panel" class="col-xs-12 col-sm-10">
        <div class="row">
      <div class="cim">
       <div id="jcl-demo">
          <div class="custom-container auto">
              
          </div>
        </div>
      </div>
      </center>
          <div class="col-xs-4 col-sm-8 top-panel-right">
            <ul class="nav navbar-nav pull-right panel-menu">
            
              <li class="dropdown">
                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                  <i class="fa fa-angle-down pull-right"></i>
                  <div class="user-mini pull-right">
                    <span class="welcome">Bienvenid@</span>
                  </div>
                </a>

                <ul class="dropdown-menu">
                    <% if current_user %>
                     <%= link_to "Editar Perfil", edit_user_path(current_user.id) %>
                     <%= link_to "Salir", :logout %>
                    <% else %>
                     <%= link_to "Registrar", new_user_path %> |
                     <%= link_to "Ingresar", :login %>
                    <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="main" class="container-fluid">
  <div class="row">
    <div id="sidebar-l" class="col-xs-2 col-sm-2 ">
      <ul class="nav main-menu">
        <li class="nar">
          <a href="/home" class=" ajax-link">
            <i class="fa fa-th-list"></i>
            <span class="hidden-xs">INICIO</span>
          </a>
        </li>
        <li class="ver">
          <a href="/modulos" class=" ajax-link">
            <i class="fa fa-search"></i>
            <span class="hidden-xs">Modulos</span>
          </a>
        </li>  
        <li class="nar">
          <a href="/fichas" class=" ajax-link">
            <i class="fa fa-th-list"></i>
            <span class="hidden-xs">Fichas Tecnicas</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>  
  <div class="container">
        <%= yield %>
  </div>

<div id="foo" class="">
     <footer class="txt-default">
      <a href="" class="blanca">Contacto</a> | 
      <a href="http://senadisenoconfeccionymoda.blogspot.com/"target="_blank" class="blanca">Institucional</a>
      <br><small>PMYT Centro de Dise침o Confecci칩n y Moda SENA 2015</small>
    </footer>
</div>
</body>
<% else %>
<body>
  <header class="navbar">
  <div class="container-fluid expanded-panel">
    <div class="row">
      <div id="log" class="col-xs-12 col-sm-2" >
        <a href="#" class="pulse" ><center>PMYT</center></a>
      </div>
      <div id="top-panel" class="col-xs-12 col-sm-10">
        <div class="row">
      <div class="cim">
       <div id="jcl-demo">
          <div class="custom-container auto">
              
          </div>
        </div>
      </div>
      </center>
          <div class="col-xs-4 col-sm-8 top-panel-right">
            <ul class="nav navbar-nav pull-right panel-menu">
            
              <li class="dropdown">
                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                  <div class="avatar">
                  </div>
                  <i class="fa fa-angle-down pull-right"></i>
                  <div class="user-mini pull-right">
                    <span class="welcome">Bienvenid@</span>
                  </div>
                </a>

                <ul class="dropdown-menu">
                    <% if current_user %>
                     <%= link_to "Editar Perfil", edit_user_path(current_user.id) %>
                     <%= link_to "Salir", :logout %>
                    <% else %>
                     <%= link_to "Registrar", new_user_path %> |
                     <%= link_to "Ingresar", :login %>
                    <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="main" class="container-fluid">
  <div class="row">
    <!-- Inicio baner de imagenes-->
       <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <li><%= image_tag ("1.JPG"), class: "img-rounded", :width => '1350', :height => '540'%></li>
      </div>

      <div class="item">
        <li><%= image_tag ("2.JPG"), class: "img-rounded", :width => '1350', :height => '540'%></li>
      </div>
    
      <div class="item">
        <li><%= image_tag ("3.JPG"), class: "img-rounded", :width => '1350', :height => '540'%></li>
      </div>

      <div class="item">
        <li><%= image_tag ("4.JPG"), class: "img-rounded", :width => '1350', :height => '540'%></li>
      </div>
    </div>

    <!-- Fin baner de imagenes-->
  </div>
</div>  

<h4><center>PMYT</center></h4><br>
<h5><center>Procesos Metodos Y tiempos</center></h5>
<h6><center>Derechos Reservados S&O and PMYT Corporation</center></h6>
<h6><center>Colombia Medellin 2015</center></h6>

<div id="foo" class="">
     <footer class="txt-default">
      <a href="" class="blanca">Contacto</a> | 
      <a href="http://senadisenoconfeccionymoda.blogspot.com/"target="_blank" class="blanca">Institucional</a>
      <br><small>PMYT Centro de Dise침o Confecci칩n y Moda SENA 2015</small>
    </footer>
</div>
</body>
<% end %> 
</html>



