<!DOCTYPE html>
<html>
<head>
  <title>Pmyt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <Link  rel = "stylesheet"  href = "path / to /-font impresionante / css / font-awesome.min.css" >
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%= link_to "Modulos", modulos_path %></li>
        <li><%= link_to "Fichas", fichas_path %></li>
    
        <% if current_user %>
           <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
           <%= link_to "Logout", :logout, method: :get %>
        <% else %>
           <%= link_to "Register", new_user_path %> |
           <%= link_to "Login", :login %>
        <% end %>
      

      </ul>
    </div>
</nav>

  <div class="container">
   <%= yield %>
  </div>
</body>
</html>
