<%- model_class = Operation -%>
<div class="well">
    <h1><center>Listado <small>Operaciones</small></center></h1>
</div>
   
 <div class="well"> 
    <%= link_to 'Nueva operacion',
            new_modulo_operation_path(@modulo),
            class: "btn btn-success btn-lg active" %>
 </div>
 <!-- buscador -->
<div class="tbusca"> 
   <%= form_tag modulo_operations_path(@modulo), :method => 'get' do %>
     <% content_tag :label do %>
        <div class="form-group">
          Buscador:
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Buscar", class: "btn btn-default"%>
        </div> 
     <% end %>
  <% end %>
  </div>
 <!-- Descargar en formato xls (Excel) -->
<div class="linkex">
  <strong class="txt-success"><a><%= link_to "Descargar tabla en ", modulo_operations_path(format: "xls") %></a></strong>
  <%= link_to image_tag("excel.png", :size => "20x20"), modulo_operations_path(format: "xls"), class: 'btn btn-default' %>
</div>
<br>
<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:sam) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:maquina_id) %></th>
      <th><%= model_class.human_attribute_name(:video) %></th>
      <th><%= model_class.human_attribute_name(:imagen) %></th>
      <th><%= model_class.human_attribute_name(:Opciones) %></th>
    </tr>
  </thead>
  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.nombre %></td>
        <td><%= operation.sam %></td>
        <td><%= operation.descripcion %></td>
        <td><%= operation.maquina.nombre %></td>
        <td><center><%= link_to('<button class="btn btn-warning"><small> Ver </small><i class="fa fa-eye"></i></button>'.html_safe, operation.video.url, controls: true) %></center></td>
        <td><center><%= link_to('<button class="btn btn-warning"><small> Ver </small><i class="fa fa-eye"></i></button>'.html_safe, operation.image.url, ) %></center></td>
        <td><center>
         <div class="btn-group">
              <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
              ︾</a>
              <ul class="dropdown-menu">
                <li> <%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_modulo_operation_path(@modulo,operation) %></li>
                <li> <%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, modulo_operation_path(@modulo,operation), method: :delete, data: { confirm: 'Estas segur@?' },remote: true %></li>
              </ul>
          </div>
        </center></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'atras', modulos_path, :class => 'btn btn-success btn-lg active' %>
<!-- Paginacion -->
<nav>
  <ul class="pager">
    <%= will_paginate @operations, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
  </ul>
</nav>
<br>
<h4><span class="label label-warning gran">Operaciones Registradas: <%= @operations.count %></span></h4>

